# ==========================
# macOS 系统文件
# ==========================
.DS_Store
.AppleDouble
.LSOverride
._*

# ==========================
# Obsidian
# ==========================
.obsidian/workspace.json
.obsidian/cache/
.obsidian/plugins/obsidian-git/*.log
.obsidian/plugins/obsidian-git/tmp/
.obsidian/**/*.DS_Store

# ==========================
# 临时 / 编辑器文件
# ==========================
*.tmp
*.swp
*.swx
*.bak
*.orig
*.old

# ==========================
# iCloud 同步可能的临时文件
# ==========================
*.icloud
